<div class="container pt-5 pb-5">
  <div class="row justify-content-center">
    <p class="text-center light-white-font">
      <a class="socias" href="https://www.facebook.com/casuloevolucao/" title="Nosso facebook" target="facebook"><strong><i class="fa fa-facebook"></i></strong></a>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <a class="socias" href="https://www.youtube.com/channel/UCp9gn-aRUUC7riTRUIgi2Ow" title="Nosso youtube" target="youtube"><strong><i class="fa fa-youtube-play"></i></strong></a>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <a class="socias" href="https://www.instagram.com/casulo.evolucao/" title="Nosso instagram" target="instagram"><strong><i class="fa fa-instagram"></i></strong></a>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <a class="socias" href="https://github.com/casuloevolucao" title="Nosso github" target="github"><strong><i class="fa fa-github"></i></strong></a>
    </p>
  </div>
</div>
