<div class="light-white-font" >

  <div id="menu-button" style="z-index: 999;">
    <i class="fa fa-bars fa-3x middle-blue-font"></i>
  </div>
  <nav id="sidebar" class="animated slideOutLeft" style="z-index: 8;">
    <ul class="nav nav-pills nav-stacked list-group">
      <li class="text-uppercase"><a href="#home">Home</a></li>
      <li class="text-uppercase"><a href="#projects">Projetos</a></li>
      <li class="text-uppercase"><a href="#team">Equipe</a></li>
      <li class="text-uppercase"><a href="#about">Sobre</a></li>
      <li class="text-uppercase"><a href="#contact">Contato</a></li>
    </ul>
  </nav>

<div id="home" class="container-lg">
  <app-home></app-home>
</div>
</div>
<div id="projects" class="container">
  <app-projetos></app-projetos>
</div>
<div id="team" class="container">
    <app-team></app-team>
</div>
<div id="about" class="container mt-5">
  <app-sobre></app-sobre>
</div>
<div class="container">
  <app-contato></app-contato>
</div>
<div id="contact">
  <app-footer></app-footer>
</div>