<!-- ============ portfolio ============ -->

<div class="section">
    
    <h2 class="text-uppercase dark-gray-font">Projetos</h2>

    <div class="content container">

        <div class="filters by-artists">
            <a href="#" data-filter="*" class="all rounded">Todos</a>
            <a href="#" data-filter=".john"><img class="rounded" src="/assets/user.jpg" alt="user"><span>Ismael</span></a>
            <a href="#" data-filter=".sara"><img class="rounded" src="/assets/user.jpg" alt="user"><span>Teste</span></a>
            <a href="#" data-filter=".tom"><img class="rounded" src="/assets/user.jpg" alt="user"><span>Filtro</span></a>
        </div>

        <div class="works">

            <div class="work col-md-4 col-sm-6 sara">

                <div class="work-thumb">
                    <img src="/assets/team/ismael.jpg" alt="Work 02">
                    <div class="thumb-links">
                        <a class="info-link" href="#"></a>
                    </div>
                </div>
                <div class="info-work testimonial">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae atque earum incidunt soluta, animi, officiis.
                    </p>
                   <div class="name">Testemunho A</div>
                </div>
                
            </div>

            <div class="work col-md-4 col-sm-6 john">

                    <div class="work-thumb">
                        <img  src="/assets/work-image-1.jpg" alt="Work 02">
                        <div class="thumb-links">
                            <a class="info-link" href="#" ></a>
                        </div>
                    </div>
                    <div class="info-work testimonial">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae atque earum incidunt soluta, animi, officiis.
                        </p>
                       <div class="name">Testemunho A</div>
                    </div>
    
            </div>

            <div class="work col-md-4 col-sm-6 tom">

                    <div class="work-thumb">
                        <img src="/assets/work-image-1.jpg" alt="Work 02">
                        <div class="thumb-links">
                            <a class="info-link" href="#"></a>
                        </div>
                    </div>
                    <div class="info-work testimonial">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae atque earum incidunt soluta, animi, officiis.
                        </p>
                        <div class="name">Testemunho A</div>
                    </div>
    
            </div>

        </div>

    </div>

</div>

<!-- ============ fim - portfolio ============ -->

<!-- ============ instagram ============ -->

<a class="instagram-bar" href="https://www.instagram.com/casulo.evolucao/" target="instagram">Veja todos os nosso trabalhos no <strong>Instagram</strong>!</a>

<!-- ============ fim - instagram ============ -->