<h2 class="text-uppercase dark-gray-font text-center mt-5">Nossa equipe</h2>
<div class="container mt-5">

    <div class="row">

        <div *ngFor="let equipe of team"  class="col-md-3 col-sm-6">
            <div class="profile_card">
                <div class="profile_inner">
                    <div class="profile_img">
                        <img [src]="equipe.photo" alt="Profile image"/>
                    </div>
                    <div class="over_layer">
                        <ul class="social_links">
                            <li *ngIf="equipe.social.facebook != undefined"><a href="{{equipe.social.facebook}}" target="facebook" class="fa fa-facebook"></a></li>
                            <li *ngIf="equipe.social.github != undefined" ><a href="{{equipe.social.github}}" target="github" class="fa fa-github"></a></li>
                            <li *ngIf="equipe.social.linkedin != undefined" ><a href="{{equipe.social.linkedin}}" target="linkedin" class="fa fa-linkedin-square"></a></li>
                            <li *ngIf="equipe.social.instagram != undefined" ><a href="{{equipe.social.instagram}}" target="instagram" class="fa fa-instagram"></a></li>
                            <li *ngIf="equipe.social.twitter != undefined" ><a href="{{equipe.social.twitter}}" target="twitter" class="fa fa-twitter-square"></a></li>
                        </ul>
                        <p>{{equipe.bio}}</p>
                    </div>
                </div>
                <div class="profile_contact">
                    <h3>{{equipe.name}}
                        <span>{{equipe.title}}</span>
                    </h3>
                </div>
            </div>
        </div>
        
    </div>
</div>