<div class="row justify-content-center">
  <div class="tp-caption text-auto">
    <h1 class="text-center">
        <p>Olá Bem-vindo ao <strong class="middle-blue-font">Casulo Evoulução</strong></p>
        <p>Nossa meta é <span class="element"></span></p>
    </h1>
  </div>
</div>
<!-- START REVOLUTION SLIDER 5.0 -->
<div style="z-index: 1;"  class="rev_slider_wrapper">
  <!-- START REVOLUTION SLIDER 5.0 auto mode -->
  <div id="rev_slider" class="rev_slider"  data-version="5.0">
      
  <ul>
    <!-- SLIDE-1  -->
  
  <li data-transition="fade"> 
  <!-- MAIN IMAGE --> 
  <img src="/assets/sliders/01.jpg" alt=""  width="1920" height="820" > 
    
  </li>
    
    
  
  <!-- SLIDE-2  -->
  <li data-transition="fade"> 
  <!-- MAIN IMAGE --> 
  <img src="/assets/sliders/02.jpg" alt=""  width="1920" height="820" > 
  
  </li>
  
    
  <!-- SLIDE-3  -->
  <li data-transition="fade"> 
  <!-- MAIN IMAGE --> 
  <img src="/assets/sliders/03.jpg" alt=""  width="1920" height="820" > 
  

  </li>    
  
  
  </ul>
  </div>
  <!-- END REVOLUTION SLIDER -->
  </div>
<!-- END OF SLIDER WRAPPER -->